{% extends "home.layout.twig" %}
{% block browserTitle %}{{ title }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block content %}
    <div class="c-board"></div>
    <div class="c-article">
        <div class="container">
            <div class="col-md-8">
                <article class="c-article__page">
                    <div class="c-listing__title-group">
                        <h3 class="c-listing__title text-center">{{ article.title }}</h3>
                        <p class="c-listing__from">
                            出处：<a href="##">{{ article.author }}</a>
                            <span class="c-listing__time">{{ article.post }}</span>
                        </p>
                    </div>
                    <div class="c-listing__text">
                        {{ article.description|raw }}
                    </div>
                    <div class="c-listing__type">
                        <span class="glyphicon glyphicon-tags"></span>
                        <strong class="c-listing__type-text">{{ article.type }}</strong>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <aside class="c-listing__aside">
                    <h3 class="c-listing__aside-title">栏目</h3>
                    <div class="c-listing__aside-contain">
                        <p>这是一个描述</p>
                        <p>这是一个描述</p>
                        <p>这是一个描述</p>
                    </div>
                </aside>
                <aside class="c-listing__aside">
                    <h3 class="c-listing__aside-title">栏目</h3>
                    <div class="c-listing__aside-contain">
                        <p>这是一个描述</p>
                        <p>这是一个描述</p>
                        <p>这是一个描述</p>
                        <p>这是一个描述</p>
                        <p>这是一个描述</p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}